*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

/*--------------------------------------Dashboard--------------------------------------*/
.container_dashboard{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: white;
    transition: .6s ease-in-out;   
    overflow: hidden;
}

/*----------------------------------------------------------------------- header */

.header_dashboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    width: 100%;
    height: 80px;
    background-color:  #04849a;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

}

.header_dashboard h1{
    font-weight: 290;
    font-size: 37px;
    color: #ffffff;
}

.header_right{
    margin-left: 80%;
    padding: 5px 20px;
   
}

.header_right i{
    color: #0d1117;
    font-size: 23px;
    cursor: pointer;
    transition: .6s ease-in-out;
}

.header_right button{
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: white;
    color:#0d74b9;
    cursor: pointer;
}

.header_right button:hover{
    background-color:rgb(4, 132, 154);
    color: white;
    transition: .3s;

}

.side-flex{
    display: flex;

}

/* -----------------------------------------sidepanel */


.sidePanel{
    width: 20%;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    height: 90vh;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    overflow: hidden;
    background-color: #efefef;
    transition: .6s ease-in-out;
}

.dashboard, .sendMoney, .depositMoney, .withdrawMoney, .checkBalance{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    transition: .5s ease-in-out;
}

.sendMoney i, .dashboard i, .depositMoney i, .withdrawMoney i, .checkBalance i{
    font-size: 20px;
    color: #04849a;
}

.sendMoney a, .dashboard a, .depositMoney a, .withdrawMoney a, .checkBalance a{
    font-size: 17px;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    transition: .6s ease-in-out;
}

.sendMoney:hover, .dashboard:hover, .depositMoney:hover, .withdrawMoney:hover, .checkBalance:hover{
    margin-left: 25px;
    transition: .5s ease;
    background-color: #6092b476;
    border-radius: 15px 0 0 15px;
}

.no-hover{
    background-color: #04849a;
    color: red;
}

.highlight{
    background-color: #04849a;
    margin-left: 30px;
    border-radius: 15px 0 0 15px;
}

.highlight a{
    color: white;
}
.highlight i{
    color: rgba(255, 255, 255, 0.958);
}


/*--------------------------------- Dashboard home--------------------------- */
.home{
    width: 80%;
    height: 90vh;
    position: relative;
}

.welcome-msg{
    position: absolute;
    margin-left: 65%;
    margin-top: 10px;
}

.welcome-msg h1{
    font-weight: 290;
}

.welcome-msg h1 span{
    color: #04849a;
}

/* CArds */

.card{
    position: absolute;
    width: 30%;
    height: 30%;
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 5px;
    display: none;
}

.card_left{
    width: 70%;
    background-color: #04849a;
    border-radius: 5px 0 0  5px;
}
.card_left img{
    width: 16%;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 11%;

}

.card_left p{

    font-size: 20px;
    font-weight: 500;
    margin-left: 11%;

}

.card_left h2{
    font-size: 20px;
    margin-left: 11%;
    color: white;

}

#expiry{
    font-size: 12px;
    line-height: .8rem;
    margin-left: 30%;
}

#name{
    font-size: 17px;
    margin-top: 10px;
    color: white;
}

.date{
    display: flex;
    align-items: center;
    margin-top: 0;
}

.date p{
    font-size: 17px;
    font-weight: 500;
    color: white;
}

.card_right{
    width: 30%;
    background-color: white;
    border-radius: 5px;
}

.card_right img{
    width: 100%;
    transform: rotate(90deg);
    object-fit: contain;
    height: 100%;
}

.card_img{
    width: 35%;
    height: 35vh;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 20px;
}

.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.recent{
    position: absolute;
    margin-top: 2%;
    margin-left: 30px;
    width: 90%;
    height: 50%;
    background-color: #efefef;
    transition: .6s ease-in-out;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
   
    margin-left: 5%;
}

.recent h2{
    font-weight: 300;
    color: grey;
    padding: 5px;
    font-size: 22px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    text-align: center;
   
}

.transactions{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trans-history{
    display: flex;
}

.trans-history p{
    padding: 10px 30px;
}

.trans-type{
    width: 20%;

}

.trans-number{
    width: 20%;
}

.trans-name{
    width: 25%;
    color: #04849a;

}

.trans-platform{
    width: 22%;
}

.trans-amount{
    width: 13%;
    text-align: center;

}

.send_tab{
    width: 80%;
    height: 90vh;
    position: relative;
    overflow: hidden;
}



.send_tab h1{
    font-size: 50px;
    text-align: center;
    font-weight: 280;
    margin-top: 20px;
}

.receiver_swap{
    display: flex;
}

.receiver-info{
    display: flex;
    flex-direction: column;
    height: 63%;
    gap: 20px;
    padding: 15px;
    width: 50%;
    /* margin-left: -600px;
    z-index: -999;  */
    background-color: rgba(0, 28, 45, 0.749);
    transition: .4s ease-in-out;
    z-index: -999px;
    color: white;
}

.send_amount p, .send_name p, .send_platform p, .send_number p{
    font-size: 22px;
    color: rgb(171, 171, 171);
}

.send_amount input, .send_name input, .send_number input, .send_platform select{
    height: 40px;
    width: 90%;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #0dabb9;
}

.send_button{
    width: 40%;
    height: 40px;
    background-color: #0dabb9;
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease-in-out;
    font-weight: 600;
    text-align: center;
}

.send_button:hover{
    background-color: #095180;
    transform: translateY(-10px);
}

.confirm_trans{
    width: 50%;
    margin-right: -2100px;
    padding: 20px 30px;
    transition: .4s ease-in-out;

}

.recipient, .platform, .amount, .number{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.recipient h3, .platform h3, .amount h3, .number h3{
    font-size: 18px;
    font-weight: 400;
    color: grey;
}

.recipient p, .platform p, .amount p, .number p{
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 1, 63);
}

.confirm_button{
    width: 40%;
    margin-left: 0%;
    padding: 10px 20px;
    border: none;
    background-color: rgb(7, 13, 66);
    border-radius: 10px;
    color: white;
    margin-top: 20%;
    margin-left: 30%;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.confirm_button:hover{
    background-color: #000000;
}

.success_screen, .fail_screen{
    width: 50%;
    padding: 30px;
    margin-left: 0px;
    transition: .4s ease-in-out;
}

.success_screen i{
    font-size: 120px;
    text-align: center;
    margin-left: 37%;
    color: green;
}

.success_screen h2{
    text-align: center;
    margin-top: 20px;
    color: green;
}

.success_screen p, .fail_screen p{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: #050739;
}

.fail_screen i{
    font-size: 120px;
    margin-left: 37%;
    color: rgb(193, 19, 19);
}


.fail_screen h2{
    text-align: center;
    margin-top: 20px;
    color: rgb(191, 14, 14);
}

#login_btn, #login_header, #signup, #has_account {
    transition: all 0.4s ease-in-out;
}

.transition {
    transition: all 1s ease;
}

.off-screen {
    margin-left: -620px;
    z-index: -999;
}

.on-screen {
    margin-left: 0px;
    z-index: 999;
}